.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

.hero {
   background-image: url("../images/kevinbacon-herobg.jpg");
   background-size: cover;
   background-position: center;
   opacity: 75%;
}

.textblk {
    color:black;
}


/*header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.headerNav a {
    font-size: 35px;
    margin-right: 40px;
} */

.actorImg{
    display: flex;
    justify-content: space-around;
}

.actorImg img 
{ 
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    width: 150px;
    height:150px;
}

.leftSection {
position: relative;
}

.actorNameSelect {
    position: absolute;

}

.actorImgSelect {
    position: absolute;
}

.label {   
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color:rgb(0,0,0,.8);
    color: white !important;
    padding: 10px;
}